<div class="mainsection">

    <div class="row">
        <div class="col-2">
            <mat-card class="example-card">
                <a [routerLink]="['/Admin/userRequests']" routerLinkActive="router-link-active">
                    <div class="row">
                    <div class="col-5 text-center">
                            <span class="material-icons text-success" style="font-size: 50px;">
                                account_circle
                            </span>
                        </div>
                        <div class="col-7">
                            
                            <mat-card-subtitle>Total User</mat-card-subtitle>
                            <mat-card-title>1122</mat-card-title>
                            
                        </div>
                    </div>
                </a>
            </mat-card>
        </div>

    </div>

</div>