.example-card {
  max-width: 200px;
}

.example-card {
  margin-left: 15px;
}
.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
h2 {
  text-align: center;
  color: cornflowerblue;
}
a {
  text-decoration: none;
}
