.example-container {
height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  
  .example-sidenav {
    padding: 20px;
  }
  .rentYourCar{
     right: 0%;
    top:2%;
     position: absolute;      
  }
  .RegistrationCard{
    margin-top: 10px;
   margin: 0 auto;
   display: block;
     width: 400px;
  }
  .inputFileds{
    width: 300px;
  }