
<mat-card class="RegistrationCard">
    <mat-card-title>Regitration Form</mat-card-title>
    <mat-form-field class="inputFileds" appearance="outline">
        <mat-label>Firstname</mat-label>
        <input matInput >
    </mat-form-field>
    <br>
    <mat-form-field class="inputFileds" appearance="outline">
        <mat-label>Lastname</mat-label>
        <input matInput >
    </mat-form-field>
    <br>
    <mat-form-field class="inputFileds" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="inputFileds" appearance="outline">
        <mat-label class="inputFileds">Licence Number</mat-label>
        <input matInput>
    </mat-form-field>
</mat-card>