<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="drawer.toggle()" >menu</mat-icon>
      </button>
      <h1>Cars</h1>
      <span class="menu-spacer"></span>
      <div>
        <!-- <a mat-button [routerLink]="'/accounts'"> Accounts </a>
        <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a> -->
        <!-- <a mat-button [routerLink]="'/create-activity'" class="rentYourCar" >Rent your car </a>  -->
  
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize >
    <mat-drawer #drawer  mode="side">
            <mat-nav-list >
              <div *ngIf="adminStatus===true" >
                <a mat-list-item *ngFor="let item of admin" (click)="drawer.toggle()"[routerLink]="['/',item.routerlink]" routerLinkActive="router-link-active"  ><mat-icon>{{item.icon}}</mat-icon> &nbsp; {{item.name}} </a>
              </div>  
              <div *ngIf="carOwnerStatus===true">
                <a mat-list-item *ngFor="let item of carOwner" (click)="drawer.toggle()"[routerLink]="['/',item.routerlink]" routerLinkActive="router-link-active"  ><mat-icon>{{item.icon}}</mat-icon> &nbsp; {{item.name}} </a>
              </div > 
              <div *ngIf="userStatus===true">
                <a mat-list-item *ngFor="let item of user" (click)="drawer.toggle()"[routerLink]="['/',item.routerlink]" routerLinkActive="router-link-active"  ><mat-icon>{{item.icon}}</mat-icon> &nbsp; {{item.name}} </a>
              </div>
              <div *ngIf="employeeStatus===true">  
                <a mat-list-item *ngFor="let item of employee" (click)="drawer.toggle()"[routerLink]="['/',item.routerlink]" routerLinkActive="router-link-active"  ><mat-icon>{{item.icon}}</mat-icon> &nbsp; {{item.name}} </a>
              </div>
            
        </mat-nav-list>
    </mat-drawer>
    <ng-content select=".mainsection"></ng-content>
  </mat-drawer-container>
