<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="drawer.toggle()" >menu</mat-icon>
      </button>
      <h1>Cars</h1>
      <span class="menu-spacer"></span>
      <div>
        <!-- <a mat-button [routerLink]="'/accounts'"> Accounts </a>
        <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a> -->
        <!-- <a mat-button [routerLink]="'/create-activity'" class="rentYourCar" >Rent your car </a>  -->
  
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize >
    <mat-drawer #drawer  mode="side">
            <mat-nav-list *ngFor="let item of sidemenu">
                <a mat-list-item (click)="drawer.toggle()"[routerLink]="['/',item.routerlink]" routerLinkActive="router-link-active"  ><mat-icon>{{item.icon}}</mat-icon> &nbsp; {{item.name}} </a>
              <!-- <a mat-list-item (click)="drawer.toggle()" [routerLink]=><mat-icon>{{item.icon}}</mat-icon> &nbsp; {{item.name}}</a> -->
              <!-- <a mat-list-item  (click)="drawer.toggle()" [routerLink]="'/create-account'"> Create Account </a>
              <a mat-list-item  (click)="drawer.toggle()" [routerLink]="'/contacts'"> Contacts </a>
              <a mat-list-item  (click)="drawer.toggle()" [routerLink]="'/create-contact'"> Create Contact </a>
              <a mat-list-item  (click)="drawer.toggle()" [routerLink]="'/activities'"> Activities </a>
              <a mat-list-item  (click)="drawer.toggle()" [routerLink]="'/create-activity'"> Create Activity </a>
              <a mat-list-item (click)="drawer.toggle()" [routerLink]="['']" routerLinkActive="router-link-active"  mat-list-item>Close</a>
            </mat-nav-list> -->
        </mat-nav-list>
    </mat-drawer>

  </mat-drawer-container>
  


  
